

.modal.fade .modal-dialog {
  -webkit-transform: translate3d(0, -25%, 0);
  transform: translate3d(0, -25%, 0);
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.modal.in .modal-dialog {
  z-index: 1050;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}

.modal-header {
  padding: 5px 10px 1px;
 /*  border-bottom: 1px solid #e5e5e5; */ 
  border-bottom: 1px solid #2196F3;
  min-height: 10px;
  /* background-color: #64B5F6 */
  /* min-height: 16.357px; */
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.357;
}
.modal-body {
  position: relative;
  padding: 10px;
}
.modal-footer {
  padding: 15px;
  padding: 10px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  background: #f2f2f2;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.form-group {
  margin-bottom: 15px;
}

/* .input-sm,
.form-horizontal .form-group-sm .form-control {
  height: 35px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
} */

.form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 9px 12px;
  font-size: 14px;
  line-height: 1.357;
  color: #898989;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  transition: border-color ease-in-out .15s;
}

.form-control:focus {
  border-color: #6dd4e0;
  outline: 0;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 10px;
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 800px;
  }
}

.not-active {
  pointer-events: none;
  cursor: default;
}

.error{
	color:red;
}

