<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medimpact.medeasy.dao.jiangsuhealth.JiangSuHealthDao">

	<resultMap type="com.medimpact.medeasy.common.bean.statistic.JiangSuHealthStBi" id="jsMap">
		<result column="item_name" property="name" />
		<result column="mamount" property="mamount" />
		<result column="regAmount" property="regAmount" /><!-- “就诊人次” -->
		<result column="rxAmount" property="rxAmount" />  
		<result column="areaAmount" property="areaAmount" />  
	</resultMap>
	
	<!-- 检索条件 -->
	<sql id="searchCond">		
		
		<if test="areaCode!=null">
			AND area_code = #{areaCode}
		</if>
		
		<if test="hospitalCode!=null">
			<!-- AND hospital.dimension_hospital_key = #{hospitalCode} -->
			AND hospital.hospital_code = #{hospitalCode}
		</if>

		<if test="patientType!=null">
			<!-- AND patient_type = #{patientType} -->
			AND dt.patient_type_code = #{patientType}
		</if>

		<if test="startDate!=null and endDate!=null">
			AND full_day BETWEEN #{startDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}
		</if>
	</sql>  	
	
	<sql id="selectItem">
		js.id, js.item_name , sum(amount) as mamount, 
		count( distinct rx_code) rxAmount, count(distinct reg_code) regAmount
	</sql>
	
	<sql id="concatTable">
		AND js.dimension_hospital_key=hospital.dimension_hospital_key 
		AND js.dimension_calander_key=c.dimension_calander_key 
		AND dt.dimension_patient_type=js.dimension_patient_type
	</sql>
	
	<select id="listBySys" parameterType="com.medimpact.medeasy.common.form.SearchForm" resultMap="jsMap">
		SELECT <include refid="selectItem"></include>	
		FROM subject_jiangsu_health_531 js,dimension_hospital hospital,dimension_calander c,
		dimension_patient_type dt
		<where>
			<include refid="concatTable"></include>
			<include refid="searchCond"></include>			
		</where>
		
		GROUP BY  js.item_name ORDER BY js.id		
	</select>
	
	
	<select id="listByArea" parameterType="com.medimpact.medeasy.common.form.SearchForm" resultMap="jsMap">
		SELECT <include refid="selectItem"></include>	
		FROM subject_jiangsu_health_531 js,dimension_hospital hospital,dimension_calander c,
		dimension_patient_type dt
		<where>	
			hospital.area_code=#{secUser.hospitalBi.areaCode}		
			<include refid="concatTable"></include>
			<!-- AND hospital.area_id=#{secUser.hospitalBi.areaId} -->   <!--  Area admin  -->
			 
			<include refid="searchCond"></include>			
		</where>
		
		GROUP BY  js.item_name ORDER BY js.id		
	</select>
	
	<select id="listByHospital" parameterType="com.medimpact.medeasy.common.form.SearchForm" resultMap="jsMap">
		SELECT <include refid="selectItem"></include>	
		FROM subject_jiangsu_health_531 js,dimension_hospital hospital,dimension_calander c,dimension_patient_type dt
		<where>	
			hospital.hospital_code=#{secUser.hospitalCode}		
			<include refid="concatTable"></include>
			<!-- AND hospital.dimension_hospital_key=#{secUser.hospitalId} --> <!--  hospital admin  -->
			
			<include refid="searchCond"></include>			
		</where>
		
		GROUP BY  js.item_name ORDER BY js.id		
	</select>

</mapper>