<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medimpact.medeasy.dao.bp.rxevastatistics.RxEvaStatistics1Dao">
	<cache type="org.mybatis.caches.ehcache.EhcacheCache" />
	<resultMap id="resultMap" type="com.medimpact.medeasy.common.bean.statistic.RxEvaStBi">
		<id property="id" column="dimension_hospital_key" />
		<!-- <result column="MED_INSTITUTION_NAME" property="hospitalName" /> -->
		<result column="hospital_name" property="hospitalName" />
		<!-- <result column="hospital_name" property="hospitalName" /> -->
		<result column="hospital_code" property="hospitalCode" />
		<result column="area_name" property="areaName" />
		<!-- <result column="dimension_patient_type" property="patientType" /> -->
		<result column="rxAmount" property="rxAmount" />
		<result column="deptAmount" property="deptAmount" />
		<result column="drAmount" property="drAmount" />
		<result column="drugAmount" property="drugAmount" />
		<result column="mamount" property="mamount" />
		<result property="problemCodeAmount" column="problemCodeAmount" />
	</resultMap>

	<!-- 检索条件 -->
	<sql id="searchCond">
		<if test="areaCode!=null">
			AND area_code = #{areaCode}
		</if>

		<if test="hospitalCode!=null">
			<!-- AND hospital.dimension_hospital_key = #{hospitalCode} -->
			AND hospital.hospital_code = #{hospitalCode}
		</if>

		<!-- <if test="patientType!=null"> AND eva.dimension_patient_type = #{patientType} </if> -->

		<if test="patientType!=null">
			AND pt.patient_type_code = #{patientType}
		</if>

		<if test="isIV=='Y'">
			AND eva.is_iv='Y'
		</if>

		<if test="checkedNodesStr!=null">
			AND eva.dimesion_drug_key IN
			(SELECT dd.dimesion_drug_key FROM drug, drug_category dc, drug_category_mapping dcm,
			dimension_drug dd
			<where>
				AND dcm.DRUG_ID=drug.DRUG_ID
				AND drug.LOCAL_DRUG_ID=drug_code
				AND dc.drug_category_id=dcm.drug_category_id
				AND dc.drug_category_type=0
				AND FIND_IN_SET(dc.category_code,#{checkedNodesStr})
			</where>
			)
		</if>

		<if test="localDrugId!=null">
			and FIND_IN_SET(dd.drug_code,#{localDrugId}) > 0
		</if>


		<if test="startDate!=null and endDate!=null">
			AND full_day BETWEEN #{startDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}
		</if>

		<if test="irriteId!=null">
			AND rx_evaluation_irrational_item_id =#{irriteId}
		</if>


		<if test="hLDrugCategory!=null and hLDrugCategory!='ZSJ'">
			AND eva.dimesion_drug_key IN
			(
			SELECT d.dimesion_drug_key FROM dimension_drug d WHERE INSTR(d.drug_basic_category,#{hLDrugCategory})>0
			)
			<!-- AND INSTR(d.drug_basic_category,#{hLDrugCategory})>0; -->
		</if>

	</sql>

	<sql id="concat">
		AND eva.dimension_calander_key=c.dimension_calander_key
		AND pt.dimension_patient_type=eva.dimension_patient_type
		<!-- AND
		hospital.dimension_hospital_key!=0  -->
		AND hospital.is_current='Y'
		AND hospital.dimension_hospital_key = eva.dimension_hospital_key
		AND dd.dimesion_drug_key= eva.dimesion_drug_key
		AND ddept.dept_key = eva.dept_key
		<!-- AND eva.rx_evaluation_irrational_item_id = ir.rx_evaluation_irrational_item_id -->
	</sql>

	<sql id="fromTables">
		subject_rx_eva_analysis_3211 eva,dimension_calander c,dimension_patient_type pt,
		dimension_hospital hospital,dimension_drug dd, dimension_dept ddept <!-- , rx_evaluation_irrational_item 
			ir -->
	</sql>

	<sql id="selects">
		eva.dimension_hospital_key,hospital_code, area_name,<!-- patient_type_name, -->count(DISTINCT eva.rx_code) rxAmount, count(DISTINCT ddept.dept_code) deptAmount,
		COUNT(DISTINCT
		dimension_doctor_key) drAmount,<!-- COUNT(DISTINCT dimesion_drug_key) drugAmount, -->
		count(distinct dd.drug_code) drugAmount,
		sum(amount) mamount,
		count(DISTINCT rx_evaluation_irrational_item_id) problemCodeAmount,		
		hospital.hospital_name
	</sql>


	<sql id="pagers">
		<if test="rowStart!=null and rowSize!=null">
			limit #{rowStart},#{rowSize}
		</if>
	</sql>

	<select id="listBySys" parameterType="com.medimpact.medeasy.common.form.SearchForm" resultMap="resultMap" useCache="true">

		<!-- SELECT MED_INSTITUTION_NAME,rst.* FROM
		( -->
		SELECT
		<include refid="selects"></include>
		FROM
		<include refid="fromTables"></include>
		<where>
			<include refid="concat"></include>
			<include refid="searchCond"></include>
		</where>
		GROUP BY hospital.hospital_code
		<!-- ) rst
		LEFT JOIN hospital ON hospital.MED_INSTITUTION_CODE=rst.hospital_code -->

	</select>

	<select id="listByArea" parameterType="com.medimpact.medeasy.common.form.SearchForm" resultMap="resultMap">
		SELECT MED_INSTITUTION_NAME,rst.* FROM
		(
		SELECT
		<include refid="selects"></include>
		FROM
		<include refid="fromTables"></include>
		<where>
			<!-- hospital.area_code=#{secUser.hospitalBi.areaCode} -->
			hospital.area_code=#{secUser.areaCode}
			<include refid="concat"></include>
			<include refid="searchCond"></include>
		</where>
		GROUP BY hospital.hospital_code
		) rst
		LEFT JOIN hospital ON hospital.MED_INSTITUTION_CODE=rst.hospital_code
	</select>

	<select id="listByHospital" parameterType="com.medimpact.medeasy.common.form.SearchForm" resultMap="resultMap">
		SELECT MED_INSTITUTION_NAME,rst.* FROM
		(
		SELECT
		<include refid="selects"></include>
		FROM
		<include refid="fromTables"></include>
		<where>
			hospital_code=#{secUser.hospitalCode}
			<include refid="concat"></include>
			<include refid="searchCond"></include>
		</where>
		GROUP BY hospital.hospital_code
		) rst
		LEFT JOIN hospital ON hospital.MED_INSTITUTION_CODE=rst.hospital_code

	</select>
	

</mapper>  
