<div id="top" th:fragment="top">
	<div id="navbar" class="navbar navbar-default ace-save-state new_navbar">
		<!-- left part -->
		<div class="navbar-container ace-save-state" id="navbar-container">
			<div class="navbar-header pull-left">
				<a class="navbar-brand"> <small> <img class="new_logo" src="images/rdu_logo.png"><span class="hide" sec:authentication="name"></span>
				</small>
				</a>
			</div>
		</div>

		<!-- 个人信息 -->
		<div class="navbar-buttons navbar-header pull-right" role="navigation" style="padding-right: 50px;">
			<ul class="nav ace-nav">
				<!--li class="purple dropdown-modal lh63 bc72bf45"><a data-toggle="dropdown" class="dropdown-toggle new p020" href="#"><span class="badge badge-important bc71c958 new_br3 new_badge" >8</span> <i
						class="ace-icon fa fa-envelope new_rdu ft24"></i></a>
					<ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
						<li class="dropdown-header"><i class="ace-icon fa fa-exclamation-triangle" style="margin-right:20px;"></i> 8 Notifications</li>

						<li class="dropdown-content">
							<ul class="dropdown-menu dropdown-navbar navbar-pink">
								<li><a href="#">
										<div class="clearfix">
											<span class="pull-left"> <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i> New Comments
											</span> <span class="pull-right badge badge-info">+12</span>
										</div>
								</a></li>

								<li><a href="#"> <i class="btn btn-xs btn-primary fa fa-user"></i> Bob just signed up as an editor ...
								</a></li>

								<li><a href="#">
										<div class="clearfix">
											<span class="pull-left"> <i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i> New Orders
											</span> <span class="pull-right badge badge-success">+8</span>
										</div>
								</a></li>

								<li><a href="#">
										<div class="clearfix">
											<span class="pull-left"> <i class="btn btn-xs no-hover btn-info fa fa-twitter"></i> Followers
											</span> <span class="pull-right badge badge-info">+11</span>
										</div>
								</a></li>
							</ul>
						</li>

						<li class="dropdown-footer"><a href="#"> See all notifications <i class="ace-icon fa fa-arrow-right"></i>
						</a></li>
					</ul></li>

				<li class="green dropdown-modal  lh63 bce0462c"><a data-toggle="dropdown" class="dropdown-toggle new p020 bce0462c" href="#"><span class="badge badge-important badge-success new_br3 new_badge bcf44c31">15</span> <i
						class="ace-icon fa fa-star new_rdu ft24"></i> 
				</a>

					<ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
						<li class="dropdown-header"><i class="ace-icon fa fa-envelope-o"></i> 5 Messages</li>

						<li class="dropdown-content">
							<ul class="dropdown-menu dropdown-navbar">
								<li><a href="#" class="clearfix"> <img src="assets/images/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" /> <span
										class="msg-body"> <span class="msg-title"> <span class="blue">Alex:</span> Ciao sociis natoque penatibus et auctor ...
										</span> <span class="msg-time"> <i class="ace-icon fa fa-clock-o"></i> <span>a moment ago</span>
										</span>
									</span>
								</a></li>

								<li><a href="#" class="clearfix"> <img src="assets/images/avatars/avatar3.png" class="msg-photo" alt="Susan's Avatar" /> <span
										class="msg-body"> <span class="msg-title"> <span class="blue">Susan:</span> Vestibulum id ligula porta felis euismod ...
										</span> <span class="msg-time"> <i class="ace-icon fa fa-clock-o"></i> <span>20 minutes ago</span>
										</span>
									</span>
								</a></li>

								<li><a href="#" class="clearfix"> <img src="assets/images/avatars/avatar4.png" class="msg-photo" alt="Bob's Avatar" /> <span
										class="msg-body"> <span class="msg-title"> <span class="blue">Bob:</span> Nullam quis risus eget urna mollis ornare ...
										</span> <span class="msg-time"> <i class="ace-icon fa fa-clock-o"></i> <span>3:15 pm</span>
										</span>
									</span>
								</a></li>

								<li><a href="#" class="clearfix"> <img src="assets/images/avatars/avatar2.png" class="msg-photo" alt="Kate's Avatar" /> <span
										class="msg-body"> <span class="msg-title"> <span class="blue">Kate:</span> Ciao sociis natoque eget urna mollis ornare ...
										</span> <span class="msg-time"> <i class="ace-icon fa fa-clock-o"></i> <span>1:33 pm</span>
										</span>
									</span>
								</a></li>

								<li><a href="#" class="clearfix"> <img src="assets/images/avatars/avatar5.png" class="msg-photo" alt="Fred's Avatar" /> <span
										class="msg-body"> <span class="msg-title"> <span class="blue">Fred:</span> Vestibulum id penatibus et auctor ...
										</span> <span class="msg-time"> <i class="ace-icon fa fa-clock-o"></i> <span>10:09 am</span>
										</span>
									</span>
								</a></li>
							</ul>
						</li>

						<li class="dropdown-footer"><a href="inbox.html"> See all messages <i class="ace-icon fa fa-arrow-right"></i>
						</a></li>
					</ul></li-->


				<li class="light-blue dropdown-modal lh63 "><a data-toggle="dropdown" href="#" class="dropdown-toggle new p020"
					style="bottom: 1px !important;"> <img class="1nav-user-photo" src="images/rdu_user.png" />
						<!--<span class="user-info">-->
							<small>欢迎</small>
							<span id="userName" sec:authentication="name"></span>
						<!--</span> -->
					<i class="ace-icon fa fa-caret-down"></i>
				</a>
					<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
						<!-- <li><a href="#"> <i class="ace-icon fa fa-cog"></i> 修改头像
						</a></li> -->

						<!-- <li id="li_editPersonDetail"><a href="a"   > <i class="ace-icon fa fa-user"></i> 修改资料
						</a></li>

						<li id="li_changePassword"><a href="#"> <i class="ace-icon fa fa-key"></i> 更新密码
						</a></li>

						<li class="divider"></li> -->

						<li><a href="/medeasy-web/ts/logout"> <i class="ace-icon fa fa-power-off"></i> 退出登录
						</a></li>
					</ul></li>
			</ul>

		</div>
	</div>
	<!--  end of navbar -->

	<!-- 修改个人资料dialog -->
	<div class="modal fade" id="md_personDetail">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">
						<span>个人资料</span>
					</h4>
				</div>
				<div class="modal-body">Hi</div>
			</div>
		</div>
	</div>
</div>


<div class="ace-settings-container new_rdu" id="ace-settings-container" th:fragment="rSetting">
	<div class="btn btn-app btn-xs btn-warning ace-settings-btn new_rdu borderddd new_bcimg" id="ace-settings-btn">
		<i class="ace-icon fa fa-cog bigger-130 new_rdu ce0462c"></i>
	</div>

	<div class="ace-settings-box clearfix" style="border: 1px solid #ddd;" id="ace-settings-box">
		<div class="pull-left width-50">
			<div class="ace-settings-item">
				<div class="pull-left">
					<select id="skin-colorpicker" class="hide">
						<option data-skin="no-skin" value="#438EB9">#438EB9</option>
						<option data-skin="skin-1" value="#222A2D">#222A2D</option>
						<option data-skin="skin-2" value="#C6487E">#C6487E</option>
						<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
						<option data-skin="skin-4" value="#f90000;">#f90000</option>
					</select>
				</div>
				<span>&nbsp; Choose Skin</span>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
				<label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
				<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
				<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
				<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
				<label class="lbl" for="ace-settings-add-container">
					Inside <b>.container</b>
				</label>
			</div>
		</div>
		<!-- /.pull-left -->

		<div class="pull-left width-50">
			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
				<label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
				<label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
				<label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
			</div>
		</div>
		<!-- /.pull-left -->
	</div>
	<!-- /.ace-settings-box -->
</div>
<!-- /.ace-settings-container -->



<div class="sidebar-shortcuts" id="sidebar-shortcuts" th:fragment="ltShortcuts">
	<div class="sidebar-shortcuts-large new_rdu lh60" id="sidebar-shortcuts-large">
		<button class="btn btn-success lh30 bc72bf45 border72bf45">
			<i class="ace-icon fa fa-signal"></i>
		</button>

		<button class="btn btn-info lh30 bc107dc2 border107dc2">
			<i class="ace-icon fa fa-pencil"></i>
		</button>

		<button class="btn btn-warning lh30 bce0462c bordere0462c" style="background-color: #e0462c !important;">
			<i class="ace-icon fa fa-users"></i>
		</button>

		<button class="btn btn-danger lh30 bcf2b90a borderf2b90a" style="background-color: #f2b90a !important;">
			<i class="ace-icon fa fa-cogs"></i>
		</button>
	</div>

	<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
		<span class="btn btn-success"></span> <span class="btn btn-info"></span> <span class="btn btn-warning"></span> <span class="btn btn-danger"></span>
	</div>
</div>
<!-- /.sidebar-shortcuts -->



<div id="left" th:fragment="left">
	<ul class="nav nav-list" id="menu_ul">
		<!-- <ul><li id="testli">test</li></ul> -->
	</ul>

	<!-- <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse" style="display: none;">
		<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left"
			data-icon2="ace-icon fa fa-angle-double-right"></i>
	</div> -->

</div>